node_modules/
dist/
dist-cjs/
lib/
.turbo
.eslintcache
.env
yarn-error.log

.pnp.*
.yarn/
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.node-version